<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>
<% postContent.forEach(function(titleName){ %>
<h1><%= titleName.title %></h1>
<p><%= titleName.content %></p>
<% }) %> <%- include("partials/footer") -%>
